img {
    padding: 5px;
    width: 100px;
  }
.letra{font-size: 30px;
}
body{
background: gray;
}

#rodape {
	position: fixed;
	bottom: 0px;
	height: 30px;
	width: 100%;
	background-color: rgb(10, 10, 10);
	z-index: 100;
	overflow: hidden;
}
a:link{
    color:black;
}
